# MLflow artifacts and experiment data
mlruns/
artifacts/

# Raw & processed datasets
data/
!data/README.md

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Notebook checkpoints
.ipynb_checkpoints/

# Large ML models
*.pt
*.pth

# Jupyter extensions / IDE temp files
.virtual_documents/
.jupyter/

# Anaconda project files
anaconda_projects/

# Calibration / pickle models
*.pkl

# System files
.DS_Store
Thumbs.db
desktop.ini
